<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PushSaaS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <userSettings>
    <PushSaaS.Properties.Settings>
      <setting name="AADAuthorityUri" serializeAs="String">
        <value>https://login.windows.net/common/oauth2/authorize/</value>
      </setting>
      <setting name="PowerBiAPI" serializeAs="String">
        <value>https://analysis.windows.net/powerbi/api</value>
      </setting>
      <setting name="ClientID" serializeAs="String">
        <value>7604ee7a-95d1-40d9-b9da-98fc59ceefb2</value>
      </setting>
      <setting name="PowerBiDataset" serializeAs="String">
        <value>https://api.powerbi.com/v1.0/myorg</value>
      </setting>
    </PushSaaS.Properties.Settings>
  </userSettings>
</configuration>